<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Project</title>

    <script src="https://unpkg.com/vue@next"></script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app" class="">
      <header class="flex justify-between p-6">
        <button
          class="bg-pink-600 hover:opacity-75 text-white rounded-md px-3 py-2"
          @click="openInstrumentModal"
        >
          Add New Instrument
        </button>
        <button
          class="bg-pink-600 hover:opacity-75 text-white rounded-md px-3 py-2"
          @click="clearCart()"
        >
          Cart {{cart.length}}
        </button>
      </header>
      <main class="grid grid-cols-3 gap-4 mx-6">
        <div
          v-for="(product, idx) in products.filter((p) => !cart.find(c => c.id === p.id))"
          :key="idx"
        >
          <modal
            :id="`modal-${idx}`"
            v-on:close-modal="closeModal(product)"
            :is-open="product.modal"
          >
            <div class="mt-3 text-center">
              <div class="h-32 w-32 mx-auto">
                <img class="w-full h-full" :src="product.img" />
              </div>
              <h2 class="text-2xl font-bold">Name: {{ product.name }}</h2>
              <p class="mb-1">Type: {{ product.instrument }}</p>
              <p class="mb-1">Brand: {{ product.brand }}</p>
              <p class="font-bold mb-2">Price: ${{ product.price }}</p>
              <button
                class="
                  bg-pink-600
                  hover:opacity-75
                  text-white
                  rounded-md
                  px-3
                  py-2
                "
                @click="() => { addToCart(product); closeModal(product); }"
              >
                Add to Cart
              </button>
            </div>
          </modal>

          <div
            class="
              cursor-pointer
              border-2 border-gray-400
              rounded-lg
              text-center
              px-2
              py-6
            "
            :class="{ 
              'hover:bg-green-600': product.brand == 'Yamaha',
              'hover:bg-blue-600': product.brand == 'Maton', 
              'hover:bg-red-600': product.brand == 'Fender',
            }"
            @click.self="openModal(product)"
          >
            <div class="h-32 w-32 mx-auto">
              <img class="w-full h-full" :src="product.img" />
            </div>
            <div>
              <h2 class="text-2xl font-bold mb-3">{{ product.name }}</h2>
              <button
                class="
                  bg-pink-600
                  hover:opacity-75
                  text-white
                  rounded-md
                  px-3
                  py-2
                "
                @click.self="addToCart(product)"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </main>
      <modal
        id="add-instrument"
        v-on:close-modal="closeInstrumentModal()"
        :is-open="isInstrumentModalOpen"
      >
        <form @submit.prevent="addInstrument">
          <div class="grid grid-cols-1 gap-3">
            <input
              class="p-3 bg-white border border-gray-200 rounded-md"
              type="text"
              placeholder="Name of Instrument"
              v-model="form.name"
            />
            <input
              type="text"
              class="p-3 bg-white border border-gray-200 rounded-md"
              placeholder="Type of Instrument"
              v-model="form.instrument"
            />
            <select
              class="p-3 border border-gray-200 rounded-md"
              name="brand-options"
              id="brand-options"
              v-model="form.brand"
            >
              <option
                v-for="(brand, idx) in brandOptions"
                :value="brand.name"
                :selected="brand.name == form.brand"
                :key="{idx}"
              >
                {{ brand.name }}
              </option>
            </select>
            <input
              type="number"
              class="p-3 bg-white border border-gray-200 rounded-md"
              placeholder="Price"
              v-model="form.price"
            />
            <div>
              <input
                type="text"
                class="p-3 bg-white border border-gray-200 rounded-md w-full"
                placeholder="Image URL"
                v-model="form.img"
              />
              <p>The the product image is (optional)</p>
            </div>
            <button
              type="submit"
              class="
                mt-3
                bg-pink-600
                hover:opacity-75
                text-white
                rounded-md
                px-3
                py-2
              "
            >
              Add Instrument
            </button>
          </div>
        </form>
      </modal>
    </div>

    <script src="app.js"></script>
  </body>
</html>
