* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.message {
  margin: 10px 0;
  display: block;
  cursor: pointer;
  color: black;
}
.message.clicked {
  color: blue;
}
